table {
  border-collapse: collapse;
  line-height: 60px;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}
table tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bottom-contact {
  margin-top: 50px;
}
