.top1 {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}

.top1-title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.top1-subtitle {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.top-2 {
  color: #fff;
  background-color: #222;
}
.top-service-ttl {
  text-align: center;
}

.top-2-txt {
  margin-top: 20px;
}

.top-service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-item {
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}

.top-service-item:nth-child(2n) {
  margin-right: 0;
}

.top-service-item-ttl {
  font-weight: bold;
  font-size: 18px;
}

.top-service-btn {
  margin: 40px auto 0;
}

.top-news-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-news {
  background-color: #222;
}

.top-news-list {
  margin-top: 20px;
}

.top-news-ttl {
  color: #fff;
}

.top-news-btn {
  width: 160px;
  font-size: 14px;
  padding: 7px;
}

.top-news-item:not(:first-child) {
  margin-top: 10px;
}

.top-news-item-link {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}
.top-news-item-date {
  margin-right: 10px;
}

.top-blog-ttl {
  text-align: center;
}

.top-blog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.top-blog-item:nth-child(3n) {
  margin-right: 0;
}

.top-blog-item {
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
}

.top-blog-item-date {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 14px;
}

.top-blog-item-ttl {
  font-weight: bold;
  font-size: 18px;
}

.top-blog-btn {
  margin: 40px auto 0;
}

.top-company-list {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
}

.top-company-link {
  background-color: #cd0224;
}

.top-recruit-link {
  background-color: #222;
}

.top-company-item-link {
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
}
.top-company-item {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .top-service-item {
    width: 100%;
    margin-right: 0;
  }

  .top-news-item-link {
    padding: 10px;
    font-size: 14px;
  }

  .top-blog-item {
    width: 100%;
    margin-right: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
img {
  width: 100%;
  height: auto;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}
.ttl {
  font-size: 30px;
  font-weight: bold;
}

.ptb-m {
  padding: 80px 0;
}

.btn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
}

.page-mv {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../img/common/mv.png) center / cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}

.bottom-contact {
  background-color: #f5f6f9;
  text-align: center;
}

.bottom-contact-txt {
  margin-top: 10px;
}

.bottom-contact-btn {
  margin: 40px auto 0;
}

.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer-nav-item:last-child:after {
  display: none;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  .header-nav {
    display: none;
  }

  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }
  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.7s;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }
  .footer-copyright {
    margin: 0 auto;
  }

  .in {
    transform: translateX(100%);
  }

  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }

  .footer-nav-item:after {
    display: none;
  }
  .form {
    width: 90%;
  }
  .company-list {
    width: 90%;
    margin: 0 auto;
  }
}
.top-blog-list {
  margin: 30px;
}
