* {
  margin: 0;
  padding: 0;
}
.news-top {
  height: 300px;
  background: url(../img/mv.png) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.news-list {
  width: 1000px;
}
.item1 {
  border: 1px solid black;
}
.item2 {
  border: 1px solid black;
}
.item3 {
  border: 1px solid black;
}
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
