.recruite-main {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.new {
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.recruite-main p {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
table {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  line-height: 40px;
}
table td {
  padding-left: 20px;
}
table th {
  background-color: #e8e8e8;
}
.main-new {
  margin-top: 0 auto;
  margin-top: 20px;
}
.bottom-contact {
  margin-top: 50px;
}
