* {
  margin: 0;
  padding: 0;
}
.service-top {
  margin: 0 auto;
  height: 300px;
  background: url(../img/mv.png) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.main {
  margin: 50px auto;
  width: 90%;
}
.main-box {
  margin: 0 auto;
  width: 73%;
  border-top: 1px solid black;
  padding: 20px 0 20px 0;
}
.main-box-img {
  margin: 0 auto;
}
.main img {
  margin: 0 auto;
  width: 400px;
}
.main p {
  text-decoration: none;
}
.main-box:last-child {
  border-bottom: 1px solid black;
}
.box-title {
  margin: 0 auto;
  width: 400px;
}
